/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container{
    margin: 2rem 3rem;
}

h1{
    margin: 0 .7rem;
    font-size: 3rem;
    color: blueviolet;
}

ul{
    margin:  1rem .7rem;
    list-style-type: none;
}

li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: rgba(244, 65, 0, 0.614);
    text-transform: uppercase;
    width: 50rem;
    margin: 1rem 0;
    padding: .5rem .2rem;
    border: 3px solid red;
}

i{
    padding: 0 .7rem;
    font-size: 2rem;
    color: blueviolet;
}

.addListElemet{
    width: 15rem;
    height: 2rem;
    margin:  1rem .7rem;
}

button{
    border: 2px solid rgb(255, 17, 255);
    background-color: rgba(137, 43, 226, 0.517);
    padding: .5rem;
    border-radius: 20px;
}


.active{
    text-decoration: line-through;
}